
*{padding: 0;margin: 0;}
li{list-style: none;}
body{-webkit-user-select: none;-ms-user-select: none;}
img{position: absolute;}

#home{
	position: relative;
	width: 380px;
	height: 620px;
	margin: 50px auto;
	border: 10px solid #FF3600;
	border-radius: 10px;
	box-shadow: 10px 20px 20px 0 #666;
	overflow: hidden;
}
#one{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../img/context1.jpg);
	background-size: contain;
}
#one .haemal{
	position: absolute;
	width: 100px;
	height: 6px;
	margin: 10px 5px;
	background-color: #fff;
	border-radius: 3px;
}
#one .haemal p{
	position: absolute;
	width: 100px;
	height: 6px;
	background-color: #ff3600;
	border-radius: 3px;
	transition: 1s;
}
#one .score{
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 25px;
	color: #fff;
}
#tow{
	width: 100%;
	height: 100%;
	background-image: url(../img/home.jpg);
	background-size: cover;
}
#tow .plane ul{
	position: absolute;
	display: flex;
	justify-content:center;
	align-items:center;
	width: 280px;
	height: 70px;
	top: 150px;
	left: 40px;
	background-color: rgba(255,255,255,0.3);
	border-radius: 10px;
}
#tow .plane ul li{
	width: 75px;
	height: 55px;
	background-size: 70px;
	background-repeat: no-repeat;
}
#tow .plane ul li:nth-child(1){
	background-image: url(../img/my1.png);
	
}
#tow .plane ul li:nth-child(2){
	background-image: url(../img/my2.png);
}
#tow .plane ul li:nth-child(3){
	background-image: url(../img/my3.png);
}
#tow .plane ul li:nth-child(4){
	margin-top: 20px;
	background-image: url(../img/my4.png);
}
#tow .plane ul li:active{
	border: 1px solid chartreuse;
}
#tow .list ul{
	position: absolute;
	width: 200px;
	height: 100px;
	top: 250px;
	left: 80px;
	color: #fff;
	font-size: 25px;
	font-weight: 600;
	text-align: center;
	line-height: 40px;
}
#tow .list ul li{
	width: 200px;
	height: 40px;
	margin: 10px 0;
	background-color: #2eb9ff;
	border-radius: 20px;
	box-shadow: 2px 2px 1px 0px #fff;
}
#tow .list ul li:active{
	box-shadow: 2px 2px 1px 0px #333;
}
#three{
	position: absolute;
	top: 200px;
	left: 90px;
	width: 200px;
	height: 150px;
	padding-top: 20px;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 2px 5px 10px 0px #333;
	text-align: center;
}
#quit{
	position: absolute;
	width: 100px;
	height: 30px;
	bottom: 10px;
	left: 0;
	right: 0;
	margin: auto;
	line-height: 30px;
	background-color: #000;
	border-radius: 15px;
	color: #fff;
}